<% include ./partials/header.ejs %>
 <div class="w-full min-h-screen bg-zinc-800 text-white px-5 py-5">
       <div class="cards flex flex-wrap  gap-10 ">
        <% posts.forEach(function(elem){ %>
            <div class="card w-32  ">
                <div class=" w-full  bg-red-600 rounded-md overflow-hidden">
                    <img class=" w-full  object-cover" src="/images/uploads/<%= elem.image %>" alt="">
                </div>

                 <h3 class="mt-2 text-sm"> <%= elem.title %></h3>
                 <h4 class=" text-sm opacity-30"><%= elem.user.username %></h4>

            </div>
      <%  }) %>
       </div>
 </div>
<% include ./partials/footer.ejs %>

